[submodule "submodules/colorama"]
	path = submodules/colorama
	url = https://github.com/tartley/colorama
[submodule "submodules/prompt-toolkit"]
	path = submodules/prompt-toolkit
	url = https://github.com/prompt-toolkit/python-prompt-toolkit
[submodule "submodules/click"]
	path = submodules/click
	url = https://github.com/papis/click
