name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.5', '3.6', '3.7', '3.8', '3.9', '3.10', '3.11']
        exclude:
          # TODO: remove this when lxml is supported on 3.11
          - os: windows-latest
            python-version: '3.11'
          # TODO: ubuntu-latest (i.e. ubuntu-22.04) has no support for <3.7
          - os: ubuntu-latest
            python-version: '3.6'
          - os: ubuntu-latest
            python-version: '3.5'
        include:
          - os: ubuntu-20.04
            python-version: '3.6'
          - os: ubuntu-20.04
            python-version: '3.5'
      fail-fast: False

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install -e .[develop]
        python -m pip install -e .[optional]
      shell: bash
    - name: Run tests, mypy and linting
      run: ./tools/ci-run-tests.sh
      shell: bash
