name: Nix

on:
  push:
    branches: [ "main", "ci-*" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    # 17:00 on Friday (UTC)
    - cron: "00 17 * * 5"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test-nix-flake:
    name: Test with nix flake
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: setup nix
        uses: ./.github/actions/nix-setup
      - name: run tests with nix
        uses: ./.github/actions/nix-test
