name: Build Windows release

on:
  push:
    tags: ["v.*"]
    branches:
      - main
      - "*windows*"
  pull_request:
      branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-windows-release:
    runs-on: windows-latest
    strategy:
      fail-fast: true

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install dependencies
      shell: bash
      run: |
        make ci-install
        pip install '.[windows]'

    - name: Set version in pyproject.toml, MSI and environment
      shell: bash
      run: |
        # NOTE: python version follows "X.YdevZ+gHASH" format
        py_version=$(python tools/windows/get_version.py python)
        # NOTE: MSI version cannot have letters and is only "X.Y.Z"
        msi_version=$(python tools/windows/get_version.py msi)
        sed -i "s/^version =\".*\"/version =\"${py_version}\"/" pyproject.toml

        echo "PAPIS_VERSION=${py_version}" >> "$GITHUB_ENV"
        echo "MSI_VERSION=${msi_version}" >> "$GITHUB_ENV"

    - name: Build Windows binaries
      run: |
        pyinstaller --clean tools/windows/papis_onefile.spec
        pyinstaller --clean tools/windows/papis_onedir.spec

    - name: Publish binary as artifact
      uses: actions/upload-artifact@v4
      with:
        name: papis-${{env.PAPIS_VERSION}}.exe
        path: ${{ github.workspace }}/dist/papis.exe

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Install WiX
      run: |
        dotnet tool install --global wix --version 4.0.5
        wix extension -g add WixToolset.UI.wixext/4.0.5

    - name: Render the MSI build manifest template
      shell: bash
      run: |
        python tools/windows/populate_wxs_artifacts.py \
          tools/windows/papis_template.wxs \
          --outfile tools/windows/papis.wxs \
          --version '${{ env.MSI_VERSION }}'

    - name: Build the installer
      run: |
        wix build -ext WixToolset.UI.wixext -o dist/papis.msi tools\windows\papis.wxs

    - name: Publish installer as artifact
      uses: actions/upload-artifact@v4
      with:
        name: papis-${{env.PAPIS_VERSION}}.msi
        path: ${{ github.workspace }}/dist/papis.msi
